node_modules/
.expo/
dist/
web-build/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env*.local
.secrets/
*-firebase-adminsdk-*.json
npm-debug.*
.DS_Store
expo-env.d.ts
*.apk
*.aab
.idea/
coverage/
